<h1>this is the index for story</h1>
<button class="button"><%= link_to "New Prompt", new_prompt_path %></button>
<button class="button"><%= link_to "Log out", destroy_user_session_path, :method => :delete %></button>
