<h1>this is index.html.erb</h1>
<% @prompts.each do |prompt| %>
<div class="prompts_wrapper">
<h2 class="title"><%# link_to prompt.title, prompt %></h2>
</div>


<% end %>

<%# link_to "New Prompt", new_prompt_path %>
