<h1>this is the index for category</h1>

<button class="button"><%= link_to "Log out", destroy_user_session_path, :method => :delete %></button>

<div id="frame">
<div id="text_box"> "IPhone 90's copper mug,
  keytar fap fixie gentrify ethical asymmetrical
  migas pitchfork listicle pork belly farm-to-table
  brooklyn. Paleo health goth mlkshk, letterpress
  PBR&B retro actually. Wolf godard hot chicken
  selfies occupy, dreamcatcher coloring book art
  party master cleanse raw denim vaporware 8-bit
  narwhal literally. Quinoa air plant 90's skateboard.
  Forage microdosing pop-up coloring book cornhole health
  goth. Tilde direct trade humblebrag prism art party DIY.
  Activated charcoal skateboard cornhole semiotics, cred vinyl
  thundercats truffaut shabby chic narwhal echo park."</div>
</div>

