<button class="button"><%= link_to "Log out", destroy_user_session_path, :method => :delete %></button>
<button><%= link_to "New Prompt",  new_category_path(:categories_id=> @categories.id)) %></button>
<div id="header">
<h1>Welcome to Flash Fiction</h1>
</div>

<div id="frame">
<div id="text_box"><br>Definition<br>

<br>Fiction that is extremely brief, typically only a few hundred words or fewer in its entirety.</div>
</div>

</div>
