/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'normalize';

body {
  background-color: purple;
  background-image: url("galaxies_color_night.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

h3 {
  color: white;
}

#text_box {
  margin-left:100px;
  margin-right:100px;
  border-color: #000000;
  border-width: 5px;
  border-style: solid;
  margin-top: 10%;
  margin-bottom: 25%;
  height: 99%;
  background: black;
  color: white;
  font-size: 20px;
  text-align: center;
}

#header {
    text-align: center;
    height:80px;
    background: black;
    border:1px solid #CCC;
    width:960px;
    margin:0px auto;
    color: white;
}

